body{
    font-family: sans-serif;
    background-color: #2c5597;
    font-size: medium;
}
.main{
    background-color: white;
    padding: 10px 20px;
    margin-left: 25vw;
    margin-top: 4vh;
    width: 45vw;
    height: 90vh;
    border-radius: 10px;
}
.main h1{
    color: #2c5597;
}
.main input{
    margin-left: 8vw;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 5px;
    height: 3vh;
    width:20vw;
    padding: 10px 20px;
    background-color: #e0e0e0;
    margin-bottom: 2vh;
}
.main p{
    margin-left: 8vw;
}
.main a{
    color: grey;
    text-decoration: none;
    font-weight: bolder;
}
.main button{
    margin-left: 10vw;
    border: none;
    border-radius: 5px;
    height: 5vh;
    color: white;
    width:25vw;
    padding: 10px 20px;
    background-color: #2c5597;
    margin-top: 2vh;
}
.main h4{
    float: right;
}
.DOB{
    display: flex;
    flex-direction: row;
}
.DOB input{
    width: 8vw;
    height: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    
}
.DOB select{
    margin-left: 8vw;
    border: none;
    border-radius: 5px;
    height: 4vh;
    width:8vw;
    padding: 10px 20px;
    background-color: #e0e0e0;
}
.radio{
    display: flex;
    flex-direction: row;
}
.radio p{
    margin-left: 2vw;
    width: 30vw;
    margin: 0;
    margin-top: 2vh;
}
.radio input{
    height: 2vh;
    margin-top: 2vh;
    margin: 0;
    margin-left: 6vw;
    margin-bottom: 4vh;
    margin-top: 2vh;
}
span{
  color: #2c5597;
  font-weight: bolder;
}

